*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: #222;
}
.nav-link{
    color: #fff;
}
.img-logo{
    width: 65px;
   object-fit: cover;
    cursor: default;
}
.container-fluid.active {
    display: none;
}




/*==== HERO ===*/
#inicio{
     background-image: linear-gradient(
     0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5)
    )
    ,url("img/fono.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}
.titu-prin{
    font-size: 35px;
    color: rgb(167,14,55);
    text-shadow: 2px 3px 5px #000;
    font-weight: 900;
    letter-spacing: 1px;
    border: 2px solid rgb(167,14,55);
    border-radius: 10px;
    padding: 8px;
    cursor: crosshair;
    transition: 1000ms;
   /*FONDO*/
   background-image: linear-gradient(
         0deg,
         rgba(0,0,0,0.7),
         rgba(0,0,0,0.7)
        )
        ,url(img/h1fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
}
.titu-prin:hover{
    letter-spacing: 3px;
}
.paraff-prin{
    font-size: 17px;
    color: #fff;
    text-shadow: 2px 3px 5px #000000;
    font-family: 600;
    letter-spacing: 1px;
    border: 1px solid rgb(167,14,55);
    border-radius: 10px;
    padding: 8px;
   /*FONDO*/
   background-image: linear-gradient(
         0deg,
         rgba(0,0,0,0.7),
         rgba(0,0,0,0.7)
        )
        ,url(img/h1fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
}

.img-gift-c{
    width: 230px;
    object-fit: cover;
}
.img-gift-s{
    width: 270px;
    object-fit: cover;
}
/*ajustes de gif tresponsivo*/
@media screen and (max-width: 600px){
    .img-gift-c{
        display: none;
    }
    .img-gift-s{
        display: none;
    }
    #inicio{
        padding: 150px 15px;
    
    }
}

/*BARRA DE BUSQUEDA*/





/*====== CHACTERS ======*/
#chacters{
    background-image: linear-gradient(
     0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5)
    )
    ,url("img/costelaciones.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.personaje{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  background-color: #ac08de;
  -webkit-box-shadow: 6px 8px 25px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 8px 25px 2px rgba(0,0,0,0.75);
box-shadow: 6px 8px 25px 2px rgba(0,0,0,0.75);
  padding: 10px;
  border-radius: 5px;
  transition: 1000ms ease-in;
}

   
.titu-chacters{
    font-size: 35px;
    color: rgb(198, 13, 62);
    text-shadow: 2px 3px 5px #000;
    font-weight: 900;
    letter-spacing: 1px;
    border: 2px solid rgb(167,14,55);
    border-radius: 10px;
    padding: 8px;
}
.img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border:  5px solid #55066d;
    object-fit: cover;
}
.titulo-personaje{
    color: #c9cf0d;
    text-shadow: 2px 3px 5px #000;
    font-weight: 700;
    font-size: 21px;
    padding: 5px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Esconder personajes*/
.filtro{
    display: none;
}

/*MEDIA QUERIES*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 1px) { 
    .pintarDatos {
    /*Grid*/
    display: grid;
    grid-template-columns: auto;
    padding: 15px;
    gap: 15px;
}
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 568px) { 
    .pintarDatos {
    /*grid*/
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
    gap: 20px;
}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 870px) { 
    .pintarDatos {
     /*GRID*/
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 15px;
    gap: 20px;
}
#inicio{
    height: 100vh;
}

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .pintarDatos {
    /*grid*/
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 15px;
    gap: 30px;
}
 }




